@font-face {
  font-family: "SF Pro Display";
  src:  url("../fonts/SFPRODISPLAYREGULAR.woff") format('woff'),
        url("../fonts/SFPRODISPLAYREGULAR.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src:  url("../fonts/SFPRODISPLAYMEDIUM.woff") format('woff'),
        url("../fonts/SFPRODISPLAYMEDIUM.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Ivy Journal";
  src:  url("../fonts/IvyJournal-Regular.eot") format('eot'),
        url("../fonts/IvyJournal-Regular.ttf") format('ttf'),
        url("../fonts/IvyJournal-Regular.woff") format('woff'),
        url("../fonts/IvyJournal-Regular.woff2") format('woff2');
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

@media screen and (min-width: 991px) {
  .large-up--hide {
    display: none;
  }
}

@media (max-width: 990px) and (min-width: 769px) {
  .medium--hide {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .medium-up--hide {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .small--hide {
    display: none;
  }
}

.container {
  margin: auto;
  max-width: 1440px;
}

.caption {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.6px;

  @media screen and (max-width: 990px) {
    font-size: 14px;
  }
}

.h1 {
  font-family: "Ivy Journal", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media screen and (max-width: 990px) {
    font-size: 32px;
  }
}

.h2 {
  font-family: "Ivy Journal", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media screen and (max-width: 990px) {
    font-size: 24px;
  }
}

header {
  .navbar {
    padding: 28px 0;

    .container {
      .logo-wrapper {
        .logo-white {
          display: none;
        }
      }

      .navbar-collapse {
        flex-grow: unset;

        .navbar-nav {
          .nav-item {
            .nav-link {
              color: black;
              font-size: 16px;
              font-weight: 400;
              font-style: normal;
              padding-left: 20px;
              padding-right: 20px;
              line-height: normal;
              font-family: "SF Pro Display";
            }

            .btn {
              font-size: 16px;
              font-weight: 400;
              margin-left: 25px;
              font-style: normal;
              padding-left: 20px;
              padding-right: 20px;
              line-height: normal;
              border-radius: 50px;
              padding: 12px 25px;
              font-family: "SF Pro Display";

              @media screen and (max-width: 990px) {
                margin-left: 0;
              }
            }
          }
        }
      }

      @media screen and (max-width: 990px) {
        position: relative;

        .navbar-toggler {
          position: absolute;
          top: 0;
        }

        .navbar-brand {
          margin-left: auto;
        }
      }
    }
  }

  &.transparent-header {
    height: 0;

    .navbar {
      .container {
        .logo-white {
          display: block;
        }
  
        .logo-black {
          display: none;
        }

        .navbar-nav {
          .nav-item {
            .nav-link {
              color: #FFF;
            }

            .btn {
              color: #fff;
              border-color: #fff;

              &:hover {
                background-color: #FFF;
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}

main {
  .hero-banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/hero-banner.jpg');

    .container {
      height: inherit;

      .row {
        height: inherit;

        .col-md-12 {
          gap: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          position: relative;

          .scroll-btn--wrapper {
            position: absolute;
            bottom: 0;
            border-top: 1px solid #FFF;
            padding: 16px 0;
            text-align: center;
            width: calc(100% - 1.5rem);

            .scroll-btn {
              font-family: "SF Pro Display", sans-serif;
              font-size: 14px;
              font-weight: 500;
              line-height: 16px;
              letter-spacing: 0.1em;
              text-align: center;
              color: #fff;
              text-decoration: unset;
              text-transform: uppercase;
            }
          }
          
          @media screen and (max-width: 990px) {
            justify-content: center;
            text-align: center;
          }

          .caption {
            width: 100%;
          }

          .h1 {
            max-width: 680px;

            @media screen and (max-width: 990px) {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }

  .rich-text {
    padding: 80px 0;

    @media screen and (max-width: 990px) {
      padding: 56px 0;
    }

    .container {
      .h2 {
        max-width: 990px;
        margin: 0 auto 24px;
      }

      .link {
        font-family: "SF Pro Display", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.09px;
        letter-spacing: 0.1em;
        text-align: center;
        color: #000;

        @media screen and (max-width: 990px) {
          font-size: 14px;
        }
      }
    }
  }

  .logo-list {
    .container {
      .caption {
        color: #9E9E9E;
        text-transform: uppercase;
        margin-bottom: 24px;

        @media screen and (max-width: 990px) {
          margin-bottom: 16px;
        }
      }

      .logo-list--logos {
        max-width: 1120px;

        .swiper-wrapper {
          align-items: center;

          .logo-list--logo {
            width: 25%;
            text-align: center;

            img {
              display: block;
              margin: auto;
              filter: grayscale(100%);
              -webkit-filter: grayscale(100%);          
            }
          }
        }
      }
    }
  }

  .es-image-gallery {
    padding-top: 80px;
    padding-bottom: 80px;

    @media screen and (max-width: 990px) {
      padding-top: 56px;
      padding-bottom: 56px;
    }
  
    .container {
      .image-gallery--list {
        gap: 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  
        .image-gallery--item {
          .image {
            position: relative;
            height: 100%;
  
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
  
          &.image-gallery--item-portrait {
            width: 30%;
  
            @media screen and (max-width: 768px) {
              width: 100%;
            }
  
            .image {
              padding-top: 135%;
            }
          }
  
          &.image-gallery--item-landscape {
            width: calc(70% - 2px);
  
            @media screen and (max-width: 768px) {
              width: 100%;
            }
  
            .image {
              padding-top: 65%;
            }
          }
  
          &.image-gallery--item-hide {
            display: none;
          }
        }
      }
  
      .image-gallery--button-wrapper {
        padding-top: 60px;
        text-align: center;
  
        button {
          font-size: 16px;
          font-weight: 400;
          color: #2D2D2D;
          font-style: normal;
          line-height: normal;
          font-family: "SF Pro Display";
          padding: 12px 24px;
          border: 1px solid #2D2D2D;
          border-radius: 30px;
          background: #fff;
          transition: .3s ease;
          
          &:hover {
            background-color: #2D2D2D;
            color: #fff;
          }

          @media screen and (max-width: 768px) {
            min-height: 40px;
          }
        }
  
        @media screen and (max-width: 768px) {
          padding-top: 30px;
        }
      }
    }
  }

  .image-with-text {
    padding: 80px 0;

    @media screen and (max-width: 768px) {
      padding: 56px 0;
    }

    .container {
      .row {
        .image-with-text--image {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }

  .video {
    .container {
      .caption {
        color: #9E9E9E;
        text-transform: uppercase;
        margin-bottom: 8px;
      }

      .h2 {
        margin-bottom: 40px;
      }

      iframe {
        border-radius: 16px;
        width: 100%;
      }
    }
  }
}

footer {
  padding: 40px 0;
  background-color: #F9F8F4;

  @media screen and (max-width: 768px) {
    text-align: center;
  }

  .container {
    .footer--description {
      font-family: "Ivy Journal", sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      max-width: 230px;
      margin: 16px 0px 12px;

      @media screen and (max-width: 768px) {
        margin: 16px auto 12px;
      }
    }

    .footer--location {
      gap: 8px;
      display: flex;
      align-items: center;

      @media screen and (max-width: 768px) {
        justify-content: center;
      }

      span {
        font-family: "SF Pro Display", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
        text-decoration-line: underline;
      }
    }

    .navbar-nav {
      gap: 60px;
      flex-direction: row;
      justify-content: center;

      @media screen and (max-width: 768px) {
        gap: 12px;
        padding: 24px 0;
      }

      .nav-item {
        .nav-link {
          font-family: "SF Pro Display", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.09px;
        }
      }
    }

    .footer-award {
      max-width: 131px;
      margin-left: auto;

      @media screen and (max-width: 768px) {
        margin: auto;
      }

      .footer-award--image {
        margin-bottom: 8px;

        img {
          width: 131px;
        }
      }

      .footer-award--text {
        font-family: "Inter", serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        max-width: 115px;
        text-align: center;
        margin: auto;
      }
    }
  }
}