.hide {
  display: none;
}

.font-h1 {
  color: #000;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  line-height: normal;
  font-family: "Ivy Journal", sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.font-h5 {
  font-size: 16px;
  font-weight: 500;
  color: #9E9E9E;
  text-align: center;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  font-family: "SF Pro Display", sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 14px ;
  }
}

.header__inline-menu {
  .list-menu {
    & > li {
      margin-left: 20px;

      &:last-child {
        margin-left: 30px;

        & > a {
          border-radius: 30px;
          border: 1px solid;
          border-color: inherit;
          padding: 1.2rem 2.2rem 0.9rem;

          &:hover {
            text-decoration: unset;

            span {
              text-decoration: unset;
            }
          }
        }
      }
    }
  }
}

.banner {
  &.banner--full_height {
    min-height: 100vh;
  }

  .banner__content {
    .subtitle {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 2.4px;
      font-family: "SF Pro Display", sans-serif;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    .banner__heading {
      font-size: 46px;
      font-weight: 400;
      line-height: 130%;
      font-family: "Ivy Journal", sans-serif;

      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 120%;
      }
    }
  }

  .banner__clicker {
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    position: absolute;

    .banner__clicker-wrapper {
      margin: auto;
      padding: 0 5rem;
      max-width: 1600px;

      .banner__clicker-link {
        width: 100%;
        padding: 2rem;
        color: #fff;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        letter-spacing: 2.4px;
        text-decoration: unset;
        text-transform: uppercase;
        border-top: 1px solid #fff;
        font-family: "SF Pro Display", sans-serif;
      }
    }
  }
}

.rich-text {
  .rich-text__wrapper {
    .rich-text__blocks {
      @media screen and (min-width: 990px) {
        max-width: var(--max-width);
      }

      .rich-text__heading {
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        font-family: "Ivy Journal", sans-serif;

        @media screen and (max-width: 768px) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      .rich-text__text {
        margin-top: 32px;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        line-height: normal;
        color: rgba(57, 57, 57, 0.80);
        font-family: "SF Pro Display", sans-serif;

        @media screen and (max-width: 768px) {
          margin-top: 16px;
          font-size: 14px;
        }

        a {
          color: #000;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0.1em;
          font-family: "SF Pro Display", sans-serif;

          @media screen and (max-width: 768px) {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

.es-logo-list {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .page-width {
    .logo-list--heading {
      font-size: 16px;
      font-weight: 500;
      color: #9E9E9E;
      text-align: center;
      font-style: normal;
      line-height: normal;
      margin-bottom: 36px;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      font-family: "SF Pro Display", sans-serif;

      @media screen and (max-width: 768px) {
        margin-bottom: 18px;
      }
    }

    .logo-list--logos {
      .swiper-wrapper {
        align-items: center;

        @media screen and (min-width: 769px) {
          justify-content: center;
          gap: 72px;

          .swiper-slide {
            width: auto !important;
          }
        }
      }
    }
  }
}

.es-image-gallery {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .page-width {
    .image-gallery--list {
      gap: 2px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .image-gallery--item {
        .image {
          position: relative;
          height: 100%;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &.image-gallery--item-portrait {
          width: 30%;

          @media screen and (max-width: 768px) {
            width: 100%;
          }

          .image {
            padding-top: 135%;
          }
        }

        &.image-gallery--item-landscape {
          width: calc(70% - 2px);

          @media screen and (max-width: 768px) {
            width: 100%;
          }

          .image {
            padding-top: 65%;
          }
        }

        &.image-gallery--item-hide {
          display: none;
        }
      }
    }

    .image-gallery--button-wrapper {
      padding-top: 60px;

      button {
        font-size: 16px;
        font-weight: 400;
        color: #2D2D2D;
        font-style: normal;
        line-height: normal;
        font-family: "SF Pro Display";

        @media screen and (max-width: 768px) {
          min-height: 40px;
        }
      }

      @media screen and (max-width: 768px) {
        padding-top: 30px;
      }
    }
  }
}

.video-section {
  .title {
    margin-top: 4px;
  }

  .deferred-media {
    border-radius: 16px;
    overflow: hidden !important;

    @media screen and (max-width: 768px) {
      border-radius: 8px;
    }
  }
}

.footer {
  .footer__blocks-wrapper {
    align-items: center;

    .footer-lwt {
      & > * + * {
        margin-top: 16px;
      }

      img {
        margin: 0;

        @media screen and (max-width: 768px) {
          margin: auto;
        }
      }

      .footer-lwt--text {
        font-size: 16px;
        font-weight: 400;
        max-width: 230px;
        color: #272727;
        font-style: normal;
        line-height: normal;
        font-family: "Ivy Journal", sans-serif;

        @media screen and (max-width: 768px) {
          margin: auto;
          text-align: center;
        }
      }

      .footer-lwt--icon-text {
        gap: 6px;
        display: flex;
        font-size: 16px;
        font-weight: 400;
        color: #393939;
        font-style: normal;
        align-items: center;
        line-height: normal;
        text-underline-offset: auto;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-decoration-line: underline;
        font-family: "SF Pro Display", sans-serif;

        @media screen and (max-width: 768px) {
          justify-content: center;
          
          img {
            margin: 0;
          }
        }

        a {
          color: inherit;
        }
      }

      .without-svg {
        img {
          width: 131px;
          height: auto;
        }
      }

      &.center {
        @media screen and (min-width: 769px) {
          max-width: max-content;
          margin-left: auto;  
        }

        .footer-lwt--subtitle {
          color: #000;
          text-align: center;
          font-family: "Inter", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          max-width: 115px;
          margin: 12px auto 0;
        }
      }
    }

    .footer-block--menu {
      .footer-block__details-content {
        gap: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
          gap: 20px;
        }
  
        li {
          .link {
            font-size: 16px;
            color: #393939;
            font-weight: 400;
            font-style: normal;
            line-height: normal;
            text-decoration: unset;
            font-family: "SF Pro Display";
          }
        }
      }
    }
  }
}

.image-with-text {
  .image-with-text__text-item {
    z-index: 2;

    .image-with-text__text--caption {
      font-size: 16px;
      font-weight: 500;
      color: #9E9E9E;
      font-style: normal;
      line-height: normal;
      margin-bottom: 30px;
      letter-spacing: 1.6px;
      font-family: "SF Pro Display", sans-serif;

      @media screen and (max-width: 768px) {
        font-size: 12px;
        letter-spacing: 1.2px;
      }
    }

    .image-with-text__heading {
      font-size: 28px;
      font-weight: 400;
      color: #393939;
      font-style: normal;
      line-height: normal;
      font-family: "Ivy Journal", sans-serif;

      @media screen and (min-width: 769px) {
        margin-left: var(--margin-left);
        font-size: 42px;
      }
    }

    .image-with-text__text {
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      color: rgba(57, 57, 57, 0.80);
      font-family: "SF Pro Display", sans-serif;

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }

      ul {
        padding: 0;
        list-style: unset;

        li {
          margin-top: 44px;

          @media screen and (max-width: 768px) {
            margin-top: 22px;
            text-align: center;
          }
          a {
            font-size: 26px;
            font-weight: 400;
            color: #393939;
            font-style: normal;
            line-height: normal;
            font-family: "Ivy Journal", sans-serif;

            @media screen and (max-width: 768px) {
              font-size: 20px;
            }
          }

          & + li {
            margin-top: 22px;
            
            @media screen and (max-width: 768px) {
              margin-top: 12px;
            }
          }
        }
      }
    }

    .image-with-text__button-group {
      gap: 12px;
      display: flex;

      .button {
        font-size: 16px;
        font-weight: 400;
        min-height: unset;
        font-style: normal;
        padding: 12px 25px;
        line-height: normal;
        border-radius: 30px;
        font-family: "SF Pro Display", sans-serif;

        &::after,
        &::before {
          border-radius: 30px;
        }

        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}